In [1]:
#Locate Spark in Jupyter notebook using findspark
#!pip install findspark
import findspark
findspark.init()

In [2]:
#Import SparkContext, SparkConf, SparkConf
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [3]:
#Create a object of spark context
sc = SparkContext()

In [4]:
#Create object of spark session
spark = SparkSession.builder.getOrCreate()

In [5]:
#Alias name to spark session
ss = spark

In [7]:
#List to spark dataframe
l = [('Alice', 1)]
ss.createDataFrame(l).collect()
#ss.createDataFrame(l).show()

[Row(_1='Alice', _2=1)]

In [8]:
#Adding column heading to the Dataframe
#ss.createDataFrame(l, ['name', 'age']).collect()
ss.createDataFrame(l, ['name', 'age']).show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [9]:
#Convert an RDD to a spark Dataframe
rdd = sc.parallelize(l)
spark.createDataFrame(rdd).collect()
df = spark.createDataFrame(rdd, ['name', 'age'])
df.show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [10]:
#working with spark rows
from pyspark.sql import Row
Person = Row('name', 'age')
person = rdd.map(lambda r: Person(*r))
df2 = spark.createDataFrame(person)
df2.show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [11]:
#Create user defined schema for dataframe and creation of dataframe from the above rdd
from pyspark.sql.types import *
schema = StructType([
   StructField("name", StringType(), True),
   StructField("age", IntegerType(), True)])
df3 = spark.createDataFrame(rdd, schema)
df3.show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [12]:
#convert a pandas object to spark dataframe
ss.createDataFrame(df.toPandas()).show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [13]:
#Initialize Dataframe reader
dfr = ss.read

In [14]:
#Read csv file into a datframe object
df = dfr.csv("C:/Users/sgove/OneDrive/Desktop/all.csv", header=True, inferSchema=True)

In [15]:
#Save df in cache memory
df.cache()
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [16]:
#Count number of records in the dataframe
df.count()

1893059

In [17]:
#See column names of the dataframe
df.columns

['SYMBOL',
 'SERIES',
 'OPEN',
 'HIGH',
 'LOW',
 'CLOSE',
 'LAST',
 'PREVCLOSE',
 'TOTTRDQTY',
 'TOTTRDVAL',
 'TIMESTAMP',
 '_c11']

In [18]:
df.dtypes

[('SYMBOL', 'string'),
 ('SERIES', 'string'),
 ('OPEN', 'double'),
 ('HIGH', 'double'),
 ('LOW', 'double'),
 ('CLOSE', 'double'),
 ('LAST', 'double'),
 ('PREVCLOSE', 'double'),
 ('TOTTRDQTY', 'int'),
 ('TOTTRDVAL', 'double'),
 ('TIMESTAMP', 'string'),
 ('_c11', 'int')]

In [20]:
#Apply SQL like functions on spark dataframe with functional programming
df.select("OPEN","HIGH").show(5)

+------+-------+
|  OPEN|   HIGH|
+------+-------+
| 37.75|  37.75|
| 43.75|   45.3|
|3374.0|3439.95|
| 281.8| 294.45|
| 127.0|  132.0|
+------+-------+
only showing top 5 rows

In [21]:
#Using Aggregate functions on Spark Dataframe
df.agg({"OPEN":"max","CLOSE":"max","HIGH":"max","LOW":"max"}).show()
print()
df.agg({"OPEN":"min","CLOSE":"min","HIGH":"min","LOW":"min"}).show()
print()
df.agg({"OPEN":"mean","CLOSE":"mean","HIGH":"mean","LOW":"mean"}).show()

+---------+--------+----------+---------+
|max(HIGH)|max(LOW)|max(CLOSE)|max(OPEN)|
+---------+--------+----------+---------+
| 116490.0|115500.0|  115899.0| 116480.0|
+---------+--------+----------+---------+


+---------+--------+----------+---------+
|min(HIGH)|min(LOW)|min(CLOSE)|min(OPEN)|
+---------+--------+----------+---------+
|     0.05|    0.05|      0.05|     0.05|
+---------+--------+----------+---------+


+-----------------+------------------+------------------+-----------------+
|        avg(HIGH)|          avg(LOW)|        avg(CLOSE)|        avg(OPEN)|
+-----------------+------------------+------------------+-----------------+
|366.7326563885202|356.00841225223786|360.86674629263746|361.2689533078383|
+-----------------+------------------+------------------+-----------------+

In [22]:
#Using Where clause
df.where("SYMBOL == 'TCS' and TIMESTAMP like '%OCT-2012'").show()

+------+------+-------+-------+-------+-------+-------+---------+---------+---------------+-----------+-----+
|SYMBOL|SERIES|   OPEN|   HIGH|    LOW|  CLOSE|   LAST|PREVCLOSE|TOTTRDQTY|      TOTTRDVAL|  TIMESTAMP| _c11|
+------+------+-------+-------+-------+-------+-------+---------+---------+---------------+-----------+-----+
|   TCS|    EQ| 1295.0| 1309.8|1293.05|1302.95| 1300.3|   1295.9|   897809|1.16901054195E9|01-OCT-2012|35001|
|   TCS|    EQ| 1301.0| 1325.0| 1301.0|1322.65| 1322.0|  1302.95|  1159115| 1.5272549353E9|03-OCT-2012|51635|
|   TCS|    EQ| 1320.0|1321.65|1308.65|1317.15| 1319.0|  1322.65|   659642|  8.675407259E8|04-OCT-2012|24351|
|   TCS|    EQ|1310.25|1319.35| 1055.0| 1304.0|1301.15|  1317.15|  1918055| 2.4666925933E9|05-OCT-2012|66953|
|   TCS|    EQ| 1310.0|1315.25|1285.45| 1292.7| 1288.0|   1304.0|   842704| 1.0942989384E9|08-OCT-2012|45834|
|   TCS|    EQ| 1297.9| 1298.8| 1285.0|1294.85| 1295.0|   1292.7|   645577| 8.3436310255E8|09-OCT-2012|27678|
|   TCS|    EQ| 1286.0|1301.75| 1285.0|1289.35| 1289.0|  1294.85|   581989|  7.510198577E8|10-OCT-2012|24202|
|   TCS|    EQ|1290.25|1301.55|1286.05|1289.45| 1291.8|  1289.35|   817763|  1.057618344E9|11-OCT-2012|36946|
|   TCS|    EQ| 1278.8|1313.65| 1273.2|1298.45|1295.25|  1289.45|  1234771|1.59982859645E9|12-OCT-2012|53519|
|   TCS|    EQ| 1294.0| 1302.4| 1287.5|1294.65| 1292.0|  1298.45|   407264|  5.269761515E8|15-OCT-2012|21452|
|   TCS|    EQ| 1297.0| 1310.2| 1287.8| 1295.9| 1287.9|  1294.65|   641372|   8.34424376E8|16-OCT-2012|31394|
|   TCS|    EQ| 1301.3| 1304.9| 1272.0|1283.15|1282.25|   1295.9|   798740|1.02521729305E9|17-OCT-2012|42375|
|   TCS|    EQ|1286.25| 1311.0| 1280.2|1307.35|1306.45|  1283.15|   723564|  9.375248315E8|18-OCT-2012|32691|
|   TCS|    EQ| 1309.0| 1311.4| 1282.0| 1289.7|1290.15|  1307.35|  1412808|1.82952822015E9|19-OCT-2012|55185|
|   TCS|    EQ| 1325.1| 1334.9| 1303.0| 1318.9| 1318.9|   1289.7|  2698671| 3.5657183364E9|22-OCT-2012|77386|
|   TCS|    EQ| 1324.0| 1324.0| 1311.9| 1314.6|1314.25|   1318.9|   568348| 7.4813517485E8|23-OCT-2012|21203|
|   TCS|    EQ| 1315.0| 1323.9|1304.25|1315.35| 1318.0|   1314.6|  1127235| 1.4832011522E9|25-OCT-2012|38321|
|   TCS|    EQ| 1306.2| 1322.0| 1306.2| 1315.3|1316.85|  1315.35|   523675|  6.888138407E8|26-OCT-2012|25695|
|   TCS|    EQ| 1311.0| 1319.8| 1300.8| 1308.4|1308.75|   1315.3|   407814| 5.3381104295E8|29-OCT-2012|23756|
|   TCS|    EQ| 1304.4| 1322.0| 1304.4| 1311.5| 1310.0|   1308.4|   402634| 5.2880832325E8|30-OCT-2012|16295|
+------+------+-------+-------+-------+-------+-------+---------+---------+---------------+-----------+-----+
only showing top 20 rows

In [23]:
#Correlation coeffienct
df.corr("OPEN","CLOSE")

0.9997560995948557

In [24]:
#Describe function dataframe
df.select("OPEN","CLOSE","HIGH","LOW").describe().show()

+-------+------------------+------------------+------------------+------------------+
|summary|              OPEN|             CLOSE|              HIGH|               LOW|
+-------+------------------+------------------+------------------+------------------+
|  count|           1893059|           1893059|           1893059|           1893059|
|   mean| 361.2689533078383|360.86674629263746| 366.7326563885202|356.00841225223786|
| stddev|1747.4329870382217|1743.8405876986792|1763.9932112529843|1728.5487526946383|
|    min|              0.05|              0.05|              0.05|              0.05|
|    max|          116480.0|          115899.0|          116490.0|          115500.0|
+-------+------------------+------------------+------------------+------------------+

In [25]:
#Group by 
df.groupBy("SYMBOL").max().show()

+----------+---------+---------+--------+----------+---------+--------------+--------------+-----------------+---------+
|    SYMBOL|max(OPEN)|max(HIGH)|max(LOW)|max(CLOSE)|max(LAST)|max(PREVCLOSE)|max(TOTTRDQTY)|   max(TOTTRDVAL)|max(_c11)|
+----------+---------+---------+--------+----------+---------+--------------+--------------+-----------------+---------+
|  GEODESIC|   136.95|   142.75|   134.0|     136.2|    136.4|         136.2|       7084723|    5.197036675E8|    37532|
|  GODREJCP|   1418.9|   1459.0| 1391.15|    1408.4|   1415.0|        1408.4|      10360791|  6.04854060625E9|   108267|
|       KGL|    38.35|    38.65|    37.1|     38.15|     38.4|         38.15|      77700950|  2.59301957275E9|    19179|
| KIRLOSENG|   333.55|   345.05|   325.8|     330.1|    330.0|         330.1|       2040712|   2.8565836865E8|     8727|
| KIRLOSIND|    742.0|    767.0|  728.65|    747.45|    759.0|        747.45|        197971|    7.325842715E7|     2892|
|  KSBPUMPS|   749.95|    780.0|   727.0|     747.9|    743.0|         747.9|        570308|   1.9486527835E8|    21501|
|        LT|  2180.65|   2212.7|  2160.3|   2172.85|   2180.0|       2172.85|       8766153|1.342530563495E10|   355511|
| RUCHISOYA|    142.1|   142.45|   138.6|    141.05|   140.65|        141.05|      22257122|   2.0536357758E9|    63076|
|   SIMPLEX|   345.95|   354.95|   336.0|    348.75|    346.8|        350.45|        186508|        9525548.0|     1031|
|    STYABS|    902.0|    943.9|   886.0|    901.35|    901.0|        901.35|        248409|   2.2437759915E8|    11932|
| MOLDTKPAC|   252.05|    253.8|   243.0|     250.2|    248.0|         250.2|        168614|    3.788688795E7|     3818|
|  IPRU1795|    11.71|    11.71|   11.71|     11.71|    11.71|          11.0|        499999|       5854988.29|        1|
|AMBICAAGAR|    14.95|    14.95|   14.25|     14.35|     14.4|         14.35|         19219|         251522.0|     null|
|     CAIRN|    396.0|    401.1|   386.9|    391.55|    392.0|        391.55|     168418530| 5.45870831775E10|   187681|
|ENGINERSIN|    370.0|    370.0|   355.1|    364.45|   364.05|        364.45|       5293745|   1.3778532208E9|    46859|
|  ERAINFRA|    242.0|    243.8|  238.05|    241.45|   240.95|        241.45|       5569480|   2.5949412495E8|    10898|
|       FDC|   193.95|   220.05|   188.5|     215.9|    218.0|        191.95|       6518850|   6.4655827545E8|    59320|
|    GEMINI|     37.8|    38.55|    33.5|     35.45|     35.4|         35.45|       3865811|    1.256081671E8|    11060|
| GRABALALK|     57.0|     58.0|    54.0|     56.05|    56.05|         56.05|        384395|    2.108103985E7|      441|
|JAYSREETEA|    203.4|    207.7|   195.0|     201.5|    200.7|         201.5|       2202767|   4.1928398675E8|    24030|
+----------+---------+---------+--------+----------+---------+--------------+--------------+-----------------+---------+
only showing top 20 rows

In [26]:
#Convert Spark dataframe to rdd
df.rdd.take(10)

[Row(SYMBOL='20MICRONS', SERIES='EQ', OPEN=37.75, HIGH=37.75, LOW=36.35, CLOSE=37.45, LAST=37.3, PREVCLOSE=37.15, TOTTRDQTY=38638, TOTTRDVAL=1420968.1, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='3IINFOTECH', SERIES='EQ', OPEN=43.75, HIGH=45.3, LOW=43.75, CLOSE=44.9, LAST=44.8, PREVCLOSE=43.85, TOTTRDQTY=1239690, TOTTRDVAL=55311204.35, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='3MINDIA', SERIES='EQ', OPEN=3374.0, HIGH=3439.95, LOW=3338.0, CLOSE=3397.5, LAST=3400.0, PREVCLOSE=3364.7, TOTTRDQTY=871, TOTTRDVAL=2941547.35, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='A2ZMES', SERIES='EQ', OPEN=281.8, HIGH=294.45, LOW=279.8, CLOSE=289.2, LAST=287.2, PREVCLOSE=281.3, TOTTRDQTY=140643, TOTTRDVAL=40264075.5, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='AARTIDRUGS', SERIES='EQ', OPEN=127.0, HIGH=132.0, LOW=126.55, CLOSE=131.3, LAST=130.6, PREVCLOSE=127.6, TOTTRDQTY=2972, TOTTRDVAL=384468.2, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='AARTIIND', SERIES='EQ', OPEN=50.0, HIGH=50.0, LOW=49.0, CLOSE=49.25, LAST=49.35, PREVCLOSE=49.05, TOTTRDQTY=24056, TOTTRDVAL=1188195.85, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='AARVEEDEN', SERIES='EQ', OPEN=58.45, HIGH=58.45, LOW=56.6, CLOSE=56.65, LAST=56.6, PREVCLOSE=56.55, TOTTRDQTY=123, TOTTRDVAL=7000.1, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='ABAN', SERIES='EQ', OPEN=620.0, HIGH=645.95, LOW=617.0, CLOSE=643.3, LAST=644.0, PREVCLOSE=616.25, TOTTRDQTY=1192421, TOTTRDVAL=757452517.15, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='ABB', SERIES='EQ', OPEN=796.8, HIGH=796.8, LOW=777.35, CLOSE=785.2, LAST=780.2, PREVCLOSE=796.8, TOTTRDQTY=58038, TOTTRDVAL=45620895.95, TIMESTAMP='01-APR-2011', _c11=None),
 Row(SYMBOL='ABBOTINDIA', SERIES='EQ', OPEN=1379.0, HIGH=1379.0, LOW=1335.05, CLOSE=1353.2, LAST=1355.0, PREVCLOSE=1343.05, TOTTRDQTY=587, TOTTRDVAL=793494.8, TIMESTAMP='01-APR-2011', _c11=None)]

In [29]:
#Taking Sample from the Spark DataFrame
df.sample(fraction=0.02, seed=3).count()

37616

In [30]:
#Applying Summary function on the field 
df.sample(fraction=0.02, seed=3).select("OPEN","HIGH","LOW","CLOSE").summary().show()

+-------+------------------+------------------+------------------+------------------+
|summary|              OPEN|              HIGH|               LOW|             CLOSE|
+-------+------------------+------------------+------------------+------------------+
|  count|             37616|             37616|             37616|             37616|
|   mean|365.03302078902584|370.62902993406794| 359.7573077945581|364.75487664823504|
| stddev|1743.9119761381596|1761.3487886875632|1731.5701384892911| 1746.406333053236|
|    min|              0.05|              0.05|              0.05|              0.05|
|    25%|             24.75|              25.4|             24.05|              24.6|
|    50%|              80.6|              82.7|             78.65|              80.4|
|    75%|             266.3|             272.0|            260.95|             265.8|
|    max|          113750.0|          113750.0|          113750.0|          113750.0|
+-------+------------------+------------------+------------------+------------------+

In [31]:
#Create a temporary view so that it can be used as a SQL table
df.createTempView("stocks")

In [32]:
ss.sql("select * from stocks where SYMBOL IN ('TCS','GEOMETRIC')").show()

+---------+------+-------+-------+-------+-------+-------+---------+---------+---------------+-----------+-----+
|   SYMBOL|SERIES|   OPEN|   HIGH|    LOW|  CLOSE|   LAST|PREVCLOSE|TOTTRDQTY|      TOTTRDVAL|  TIMESTAMP| _c11|
+---------+------+-------+-------+-------+-------+-------+---------+---------+---------------+-----------+-----+
|GEOMETRIC|    EQ|  62.35|   64.5|   61.4|  63.25|  63.25|     61.3|    82246|     5179345.65|01-APR-2011| null|
|      TCS|    EQ| 1185.0|1198.75|1172.55|1180.15| 1181.9|   1183.9|   899812|1.06351115885E9|01-APR-2011| null|
|GEOMETRIC|    EQ|  100.7|  105.5|   99.1|  103.5| 102.55|    100.2|   124482|   1.27532668E7|01-APR-2013| 2690|
|      TCS|    EQ| 1565.0| 1573.7|1551.25|1556.85| 1552.1|  1575.75|   484406|  7.564599597E8|01-APR-2013|19638|
|GEOMETRIC|    EQ|  116.0|  121.0|  116.0|  120.0|  120.2|   115.55|   644060|     7.701543E7|01-APR-2014| 6430|
|      TCS|    EQ| 2145.0| 2185.0| 2144.9| 2176.7| 2175.4|  2133.15|  1377966| 2.9939665915E9|01-APR-2014|66536|
|GEOMETRIC|    EQ|  166.5|  184.5|  163.0| 177.55|  177.4|   167.15|  2398121|  4.266710897E8|01-APR-2015|27112|
|      TCS|    EQ| 2558.0| 2563.6|2522.25|2542.65|2544.05|  2553.95|  1037879|2.63498131745E9|01-APR-2015|54078|
|GEOMETRIC|    EQ|   49.8|   50.1|  49.05|   49.9|   50.0|     48.9|    55376|     2765041.05|01-AUG-2011|  647|
|      TCS|    EQ| 1142.4| 1149.9| 1125.1|1135.25| 1134.0|   1137.0|   991173|1.12551954835E9|01-AUG-2011|41634|
|GEOMETRIC|    EQ|   94.4|  94.65|   90.4|   91.8|  91.95|     94.2|   887542|  8.233651615E7|01-AUG-2012|11097|
|      TCS|    EQ| 1238.1| 1244.8| 1222.1|1224.65| 1224.0|  1243.65|   647875|  7.960636263E8|01-AUG-2012|29028|
|GEOMETRIC|    EQ|  69.45|  70.05|   63.0|   64.1|   63.3|    69.45|   319336|  2.071869155E7|01-AUG-2013| 4063|
|      TCS|    EQ|1810.05| 1834.8| 1790.0| 1815.4| 1816.0|   1815.5|  1070589|1.94671139555E9|01-AUG-2013|50550|
|GEOMETRIC|    EQ|  141.2|  144.0|  139.5|  140.2|  140.5|    142.6|   291911|  4.129233735E7|01-AUG-2014| 3965|
|      TCS|    EQ| 2575.0|2587.95| 2510.0| 2516.4| 2516.0|  2580.05|  1190941|3.03286071405E9|01-AUG-2014|59210|
|GEOMETRIC|    EQ|   73.3|   73.6|  71.35|  72.35|   72.4|    72.15|   130567|      9479917.2|01-DEC-2010| null|
|      TCS|    EQ| 1064.0| 1093.2| 1064.0| 1081.9| 1086.0|   1076.0|  1888016| 2.0446230315E9|01-DEC-2010| null|
|GEOMETRIC|    EQ|   45.9|   48.9|   45.5|   47.2|   47.0|     45.0|   124440|      5906044.7|01-DEC-2011| 1101|
|      TCS|    EQ| 1140.0|1148.55| 1126.2| 1134.8|1134.85|  1115.55|  1240724| 1.4073530237E9|01-DEC-2011|36547|
+---------+------+-------+-------+-------+-------+-------+---------+---------+---------------+-----------+-----+
only showing top 20 rows

In [33]:
ss.sql("SELECT CORR(CLOSE,OPEN) AS PEARSON_CORR_CLOSE FROM stocks").show()

+------------------+
|PEARSON_CORR_CLOSE|
+------------------+
|0.9997560995948557|
+------------------+

In [34]:
#Save a Spark DataFrame as a CSV file on your System
a = ss.sql("select * from stocks where SYMBOL IN ('TCS','GEOMETRIC')")
a.write.option("header",True).csv("C:/Users/sgove/OneDrive/Desktop/sahbbir")